<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candice's Bookshelves</title> 
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Welcome to Candice's Bookshelves</h1>
  <a href="/users/<%=user._id%>/bookshelves/new">
  <p>A library of your books, reviews, and notes.</p>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a>
</body>
</html>
